html
    head
        link(rel="stylesheet" href=autoVersion("/css/app.css"))
        link(rel="stylesheet" href="//fast.fonts.net/cssapi/df392b0b-c023-4472-9c52-822294458377.css")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        title The Fridge
    body
        #root

        script(src=autoVersion("/js/bundle.js"))