# Logs
logs
*.log
npm-debug.log*
 
# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#ide
.idea/

build/
public/*
!public/manifest.json
!public/homescreen.png
.vscode/tasks.json
jsconfig.json
.vscode/
