@font-face {
    font-family: "Linotype Didot W01_i4";
    src: url("/fonts/9c2cfd19-472b-4ef5-ad73-43eee68dc43b.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Linotype Didot W01";
    src: url("/fonts/9c2cfd19-472b-4ef5-ad73-43eee68dc43b.eot?#iefix");
    src: url("/fonts/9c2cfd19-472b-4ef5-ad73-43eee68dc43b.eot?#iefix") format("eot"), url("/fonts/abe3d3a9-c990-459f-9407-54ac96cd2f00.woff2") format("woff2"), url("/fonts/09a4b57b-7400-4d30-b4ba-d6e303c57868.woff") format("woff"), url("/fonts/a0cb08d5-975f-4c8d-bcdc-d771a014d92a.ttf") format("truetype"), url("/fonts/86d60a09-e8f8-4003-b688-0f8a2aba6532.svg#86d60a09-e8f8-4003-b688-0f8a2aba6532") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Neue Helvetica W01_n4";
    src: url("/fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Neue Helvetica W01";
    src: url("/fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
    src: url("/fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"), url("/fonts/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"), url("/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("/fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("/fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Helvetica W01_n7";
    src: url("/fonts/bb37f770-d450-4f24-af2b-3a81bf640315.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Neue Helvetica W01";
    src: url("/fonts/bb37f770-d450-4f24-af2b-3a81bf640315.eot?#iefix");
    src: url("/fonts/bb37f770-d450-4f24-af2b-3a81bf640315.eot?#iefix") format("eot"), url("/fonts/350011f3-eda3-421c-b757-87d55f1e2c04.woff2") format("woff2"), url("/fonts/a0d9d2cb-f057-4e8d-a957-27853630f58e.woff") format("woff"), url("/fonts/54085041-5049-4b91-939c-49980c66abab.ttf") format("truetype"), url("/fonts/7a48747c-74f2-49a8-bb65-1c522d4aa618.svg#7a48747c-74f2-49a8-bb65-1c522d4aa618") format("svg");
    font-weight: 700;
    font-style: normal;
}
