.container {
    margin: 0 15%;
    position: relative;

    @media (max-width: $breakpoint-grid-collapse) {
        margin-left: 1.75em;
        margin-right: 1.75em;
    }
}

.container-fixed {
    max-width: 30em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.text-container {
    float: left;
    max-width: 23em;
    width: 50%;
    padding-right: 2.25em;
    box-sizing: border-box;

    @media (max-width: 55em) {
        float: none;
        width: auto;
        padding-right: 0;
        max-width: none;

        &:last-child {
            margin-top: 0;
        }
    }
}

.list-inline {
    margin: 2em 0;

    > li {
        display: inline-block;
        margin-right: .5em;
    }
}

.offset-small {
    margin-top: 13vh;

    @media (max-width: 600px) {
        margin-top: 9vh;
    }
}

.page-bottom-margin {
    padding-bottom: 4rem !important;
}

.visually-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.hidden {
    display: none;
}
