@mixin heading {
    word-wrap: break-word;
    font-weight: 700;
    letter-spacing: -.035em;
    line-height: .85;
}

////////////////////////////////////////////

body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    color: $dark-gray;

    .fonts-loaded & {
        font-family: $sans-font;
    }

    $size: 56;
    $font-size: 1.15;

    @while $size < 130 {
        @media (min-width: $size + em) {
            font-size: $font-size + em;
        }

        $size: $size + 12.5;
        $font-size: $font-size + .075;
    }
}

.alpha {
    @include heading;

    font-size: 7em;
    text-transform: lowercase;

    @media (max-width: 31.5em) {
        font-size: 5.5em;
    }
}

.beta {
    @include heading;

    font-size: 5em;
    text-transform: lowercase;

    @media (max-width: 31.5em) {
        font-size: 3.5em;
    }
}

.gamma {
    @include heading;

    font-size: 1.5em;
}

.intro-text {
    font-size: 1.65em;
    font-family: serif;
    line-height: 1.35;
    font-style: italic;
    text-transform: lowercase;

    .fonts-loaded & {
        font-family: $serif-font;
    }
}

.paragraphs {
    > p:not(:last-child) {
        margin-bottom: 1em;
    }
}

