$font: 'Neue Helvetica W01', Helvetica, Arial, sans-serif;

$blue: #005aff;
$light-gray: #e5e5e5;
$red: #ff0054;

$anim-bouncy: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$breakpoint-grid-collapse: 37.5em;