$font: 'Neue Helvetica W01', "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font: 'Linotype Didot W01', Georgia, serif;

$blue: #005AFF;
$green: #1CBDA5;
$light-gray: #E5E5E5;
$dark-gray: #222;
$mid-gray: #BBB;
$red: #BE484D;

$anim-bouncy: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$breakpoint-grid-collapse: 37.5em;
$border-radius: 2px;
