.nav {
    &.is-open {
        .nav-wrapper {
            display: block;
        }

        .nav-toggle-button {
            color: #FFF;
        }
    }

    &.is-special .nav-toggle-button {
        &:focus, &:hover {
            background:#000;
            color: yellow;
            border-color: black;
        }
    }

    &.is-special.is-open .nav-toggle-button {
        &:focus, &:hover {
            background:#fff;
            color: #000;
            border-color: #fff;
        }
    }

    .nav-toggle-button {
        position: relative;
        margin: 3.5em 0;
        border: 2px solid;
        padding: .85em;
        z-index: 2;

        &:focus {
            border-color:  yellow ;
            background: yellow ;
            color: #000 ;
        }
    }

    .nav-wrapper {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(#000, 1);
        color: #FFF;
        display: none;

        .container {
            height: 100%;
            left: 1.5em;
            position: relative;
        }
        
        ul {
            position: absolute;
            bottom: 8.5em;
            left: 0;
        }

        li {
            font-size: 3.5em;
            margin-bottom: .5em;
        }
    } 
}


.container {
    margin: 0 auto;
    max-width: 65em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
}
h1{
    font-size: 4.25rem;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
    border-bottom: 2px solid;
}

* {
    margin:0;
    padding:0;
    list-style: none;
    border:none;
    background-color: transparent;
    color: inherit;
}



button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.skip-to-content {
    position: absolute;
    top:-3em;
    left:50%;
    display: block;
    background: #000;
    color:#FFF;
    padding: .5em;
    width: 8em;
    text-align: center;
    margin-left: -4em;
    transition: all .35s;

    &:focus {
        top:0;
    }

    &.is-off {
        display: none;
    }
}

.spinner {
    position: fixed;
    top:50%;
    left:50%;
    border: 2px dashed;
    padding: 1em;
    transform: translate(-50%, -50%);
}

.main {
    box-sizing: border-box;

    &.is-off {
        display: none;
    }

    &.is-special {
        min-height: 100vh;
        background:yellow;
    }
}
