.button {
    border: none;
    line-height: 1.25em;
    display: inline-block;
    text-transform: lowercase;
    text-align: center;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    border-radius: .15em;

    &:not(:last-child) {
        margin-right: .5em;
    }

    &:focus,
    &:hover {
        .button__inner {
            color: $blue;
            border-color: #FFF;
        }

        .button__inner--inverted  {
            color: #FFF;
            border-color: #000;
        }

        &::before {
            width: 130%;
            padding-top: 130%;
            transition: width .25s, padding-top .25s, opacity .45s;
        }
    }

    &::before {
        transform: translateX(-50%) translateY(-50%);
        content: "";
        width: 0;
        padding-top: 0;
        display: block;
        position: absolute;
        box-sizing: content-box;
        background: currentColor;
        margin: 0;
        z-index: 0;
        top: 50%;
        border-radius: 50%;
        left: 50%;
    }

    &__inner {
        border: .2rem solid currentColor;
        z-index: 1;
        position: relative;
        padding: .55em 1.25em;
        display: block;
    }
}
