.circle-button {
    padding: .5em;
    line-height: 1;
    color: darken($light-gray, 15%);
    border-radius: 50%;
    margin-left: .75em;
    font-size: .35em;
    position: relative;
    margin-top: -0.2em;
    margin-bottom: -0.5em;
    vertical-align: middle;
    border: .1em solid $light-gray;
    transition: all .2s;

    &:hover,
    &:active,
    &:focus {
        color: #FFF;
        border-color: $dark-gray;
        background-color: $dark-gray;
    }

    .icon {
        display: block;
    }
}
