.input-pair {
    position: relative;

    &__button {
        background: $dark-gray;
        border: 2px solid $dark-gray;
        bottom: 0;
        box-sizing: border-box;
        color: #FFF;
        padding: .75em 1em;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;
        width: 5em;
    }

    &__input {
        border: 2px solid $dark-gray;
        box-sizing: border-box;
        margin-right: 5em;
        padding: .75em 1em;
        width: 15em;
    }
}
