.select {
    display: inline-block;
    border: .125em  solid #000;
    padding: .5em  2.25em .5em .75em ;
    line-height: 1.2;
    min-width: 4em;
    position: relative;
    text-transform: lowercase;
    overflow: hidden;
    font-size: 1.25em;
    margin-bottom: .75em;
    transition: color .2s;

    &:hover, &.has-focus  {
        color: #FFF;

        &::before {
            opacity: 1;
            width: 120%;
            padding-bottom: 140%;
        }
    }

    &::before {
        transform: translate(-50%, -50%);
        transition: width .35s, padding-bottom .35s ;
        content: "";
        width:0;
        padding-bottom: 0;
        display: block;
        position: absolute;
        background: #000;
        z-index: -1;
        top: 50%;
        border-radius: 50%;
        left: 50%;
        opacity: 0;

        .hero-box & {
            background: #FFF;
        }
    }

    &:not(:last-child) {
        margin-right: .8em;
    }

    .icon {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        font-size: 1.1em;
    }

    select {
        position: absolute;
        top:0;
        cursor: pointer;
        left:0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

