.select {
    display: inline-block;
    max-width: 100%;
    user-select: none;
    position: relative;
    overflow: hidden;
    font-size: 1.25em;
    margin-bottom: .75em;
    transition: all .2s;
    border-radius: $border-radius;
    border: .2rem solid $dark-gray;
    padding: .5em 2.5em .5em .75em;
    text-transform: lowercase;

    &:not(:last-child) {
        margin-right: .8em;
    }

    &__inner {
        display: block;
        position: relative;
        line-height: 1.2;
    }

    &--focus {
        &:not(.select--plain) {
            color: #FFF;
            background-color: $dark-gray;
        }

        .icon {
            animation: tip-down .5s;
        }
    }

    @media (hover: hover) {
        &:not(.select--plain):hover {
            color: #FFF;
            background-color: $dark-gray;
        }

        &:hover {
            .icon {
                animation: tip-down .5s;
            }
        }
    }

    &--subtle {
        font-size: 1em;
        margin-bottom: 0;
        padding-top: .75em;
        padding-bottom: .75em;
        border-color: $mid-gray;
        border-width: .2rem;
        text-transform: none;

        &:hover,
        &.select--focus {
            border-color: $dark-gray;

            .icon {
                opacity: 1;
            }
        }

        .icon {
            opacity: .5;
        }
    }

    &__icon {
        position: absolute;
        display: block;
        right: .65em;
        top: 50%;
        font-size: 1em;
        width: .85em;
        transform: translateY(-50%);
    }

    &__native {
        position: absolute;
        top: 0;
        cursor: pointer;
        left: 0;
        width: 100%;
        appearance: none;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 10;
        opacity: 0;
    }

    &--large {
        width: 18.5em;
    }

    &--medium {
        width: 12em;
    }

    &--plain {
        border: none;
        font-weight: bold;
        padding-right: 1.75em;
        padding-top: .25em;
        padding-bottom: .25em;
        font-size: 2em;

        .select__icon {
            margin-top: .05em;
            font-size: .9em;
        }
    }
}

@keyframes tip-down {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.2em);
    }

    to {
        transform: translateY(0);
    }
}
