.text-input {
    padding: .5em 0 .55em;
    border: none;
    border-bottom: .125em solid $mid-gray;
    line-height: 1.2;
    width: 12em;
    box-sizing: border-box;
    max-width: 100%;

    &.small {
        width: 7em;
    }

    &.medium {
        width: 15em;
    }

    &.large {
        width: 22em;

        @media (max-width: $breakpoint-grid-collapse) {
            width: 100%;
        }
    }

    &.full {
        width: 100%;
    }

    &:focus {
        border-color: #000;
    }
}
