.fill {
    &--blue {
        background-color: $blue;
        color: #FFF;
    }

    &--green {
        background-color: darken($green, 0%);
        overflow: hidden;
        height: 100vh;
    }

    &--gray {
        background-color: #EEE;
    }
}
