.fridge-outro {
    margin-top: 4.5em;
    text-align: center;

    &::before,
    &::after {
        content: "";
        width: 4em;
        height: .15em;
        background-color: currentColor;
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        vertical-align: middle;
        width: 4.5em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}
