.items-list {
    margin-top: 1.5em;

    > li {
        box-sizing: border-box;
        padding-right: 1em;
        position: relative;
        float: left;
        width: 50%;

        &:nth-child(odd) {
            clear: left;
        }

        &:not(:last-child) {
            margin-bottom: 1.5em;
        }

        @media (max-width: 52em) {
            width: 100%;
            padding-right: 0;
        }
    }
}
