.cloak {
    margin: 3em 0;

    .icon {
        font-size: 1.75em;
        color: $green;
        animation: spin 1s infinite linear;
        transform-origin: 50% 53%;

        .fill & { 
            position: fixed;
            display: block;
            left: 50%;
            top: 50%; 
        }
    }
} 