.cloak {
    margin: 3em 0;

    .icon {
        font-size: 1.75em;
        color: $green;
        animation: spin 1s infinite linear;
        transform-origin: 50% 53%;

        .app--special & {
            color: #FFF;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -1em 0 0 -1em;
        }
    }
} 