.fill {
    &--blue {
        background-color: $blue; 
        color: #FFF; 
    }

    &--dark-blue {
        background-image: linear-gradient(8deg, darken($blue, 15%), $blue);  
        background-color: darken($blue, 15%);
        overflow: hidden;
        height:100vh;
    }
}