.item-entry {
    &__title {
        padding-right: 1em;
        word-wrap: normal;
    }

    &__status {
        margin: .35em 0 1.5em;
        line-height: 1.15;
        font-size: 2.75em;
        font-style: italic;
        text-transform: lowercase;
        letter-spacing: -.035em;
        font-family: 'Times New Roman', Times, serif;

        .fonts-loaded & {
            font-family: $serif-font;
        }

        @media (max-width: $breakpoint-grid-collapse) {
            font-size: 2.25em;
            margin-top: .75em;
        }

        &::after {
            display: block;
            width: 4em;
            height: .025em;
            min-height: 2px;
            background-color: #FFF;
            content: "";
            margin-top: 1.5em;
        }
    }

    &__details-header {
        opacity: .4;
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-bottom: .5em;
        font-size: .8em;
    }

    &__details-data {
        opacity: .75;
        font-size: 1.25em;
        text-transform: lowercase;
        margin-bottom: 1.25em;
    }

    &__category {
        margin-right: 3em;
        display: inline-block;
    }

    &__last-updated {
        display: inline-block;
    }

    &__similar-items {
        > li {
            display: inline-block;
            margin-right: .35em;

            &:not(:last-child)::after {
                content: ",";
            }
        }

        a:hover,
        a:focus {
            color: #FFF;
            padding-bottom: 1px;
            border-bottom: 1px solid #FFF;
        }
    }
}
