.filter-list {
    margin: 2em 0;
}

.items-list {
    margin: 1.5em 0 0;
    font-size: 1.75em;
    text-transform: lowercase;
    line-height: 1.15;
    overflow: auto;

    li {
        box-sizing: border-box;
        padding-right: 1em;
        margin-bottom: 1em;
        position: relative;
        float:left;
        width: 50%;

        &:nth-child(odd) {
            clear: left;
        }

        @media (max-width: 52em) {
            width: 100%;
            padding-right: 0;
        }

        a {
            word-wrap: break-word;
        }

        .amount {
            opacity: .4;
            margin-left: .25em;
            font-size: .6em;
            white-space: nowrap;
        }

        &.is-empty .amount {
            display: none;
        }
    }
}

.found-nothing {
    font-style: italic;
    margin: 1.5em 0;
    font-size: 1.2em;
    color: rgba(#000, .5);
}

.is-empty a{
    text-decoration: line-through;
}