.login {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 25em;

    @media (max-width: 28em) {
        width: 90vw;
    }

    &__wrapper {
        &--error {
            animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
        }

        .input-pair {
            animation: slide-up .5s;
        }
    }
}
