.menu {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    animation: slide-up .4s;
    position: relative;

    &__link {
        font-size: 3.25em;
        line-height: 1;
        font-weight: 600;
        color: #FFF;
        text-transform: lowercase;

        @media (max-width: $breakpoint-grid-collapse) {
            font-size: 2.5em;
            max-width: 20em;
        }

        .icon {
            position: relative;
            top: .05em;
            margin-left: .25em;
            width: .7em;
            opacity: .3;
        }

        &:not(:last-child) {
            margin-bottom: .5em;
        }
    }
}