.nav {
    color: #000;
    min-height: 5em;
    position: relative;

    &--open {
        background: #000;
        min-height: 100vh;
        color: #FFF;
    }

    &__toggler {
        position: absolute;
        top: 4em;
        opacity: .3;
        left: 0;
        right: 0;

        .icon {
            font-size: 1.85em;
        }
    }

    &__menu {
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY( -50%);

        &--open {
            display: block;
        }
    }
}

.menu {
    padding: 3em 4.5em;
    border: .5em solid #FFF;
    margin: 0 auto;

    @media (max-width: $breakpoint-grid-collapse) {
        padding: 2em 2.5em;
        border-width: .35em;
    }

    &__link {
        font-size: 3em;
        line-height: 1;
        font-weight: 500;
        color: #FFF;
        text-transform: lowercase;

        @media (max-width: $breakpoint-grid-collapse) {
            font-size: 2em;
        }

        &:not(:last-child) {
            margin-bottom: .45em;
        }
    }
}

.skip-to-content {
    background-color: black;
    color: #FFF;
    display: block;
    font-size: .65em;
    left: 50%;
    line-height: 1;
    margin-left: -3.5em;
    padding: 1em 1.25em;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: -3em;
    transition: top .2s;
    width: 10em;

    &:focus {
        top: 0;
    }

    .app.is-special & {
        background-color: #FFF;
        color: $blue !important;
    }
}
