.nav {
    &.is-open {
        .nav-wrapper {
            display: block; 
        } 

        .nav-toggle-button {
            color: #fff !important;  
        } 
    }

    .nav-toggle-button {
        transition:none ; 
        position: relative;
        margin: 3em 0 0 0;   
        color:#000;
        font-size: 1.25em;
        z-index: 2;

        &:focus, &:hover { 
            color: $blue;

            .app.is-special & { 
                color: #fff; 
            }
        }
        
        .app.is-special & { 
            color: #FFF; 
 
             &:focus, &:hover {
                color: #FFF; 
             }
        }

        .icon {
            display: block;
        }
    }

    .nav-wrapper {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(#000, 1);
        color: #FFF;
        display: none;
     
        .container {
            height: 100%;
            position: relative;
        }

        ul {
            position: absolute;
            bottom: 10vh;
            left: 0;
            right:0;
        }

        li {
            font-size: 4.5em;
            font-weight: bold;
            text-transform: lowercase;
            letter-spacing: -.025em;
            line-height: 1.125; 
            margin-bottom: .2em;

            a {
                transition: all .25s;
            }

            .icon {
                margin-bottom: -.125em;
                font-size: .35em; 
                margin-left: .25em;
                opacity: .05;
            }

            a:hover, a:focus { 
                color: $blue; 

                .icon {
                    opacity: 1;
                }
            }
        }
    }
}

.skip-to-content {
    display: block;
    position: fixed;
    top:-3em;
    line-height:1;
    transition: top .2s;
    left:50%;
    margin-left: -3.5em;
    width: 10em;
    font-size: .65em;
    text-transform: uppercase;
    padding: 1em 1.25em;
    background-color: black;
    color: #FFF !important;
    text-align: center;

    &:focus {
        top:0;
    }

    .app.is-special & {
        background-color: #FFF;
        color: $blue !important;
    }
}