@use "global.scss";
@use "variables.scss";
@use "typography.scss";

#holy-progress>div {
    top: calc(var(--header-height) + env(safe-area-inset-top) - 1px) !important;
    height: 3px !important;
}

body {
    background-color: var(--background);
    color: var(--color);
    transition: background-color .45s, color .45s;
}

.page {
    padding-block: calc(var(--header-height) + env(safe-area-inset-top)) calc(6em + env(safe-area-inset-bottom));
    box-sizing: border-box;
    min-height: 100%;
    animation: page .35s both;
}

@keyframes page {
    from {
        opacity: 0;
        translate: 0 -1em 0;
    }

    to {
        opacity: 1;
        translate: 0 0 0;
    }
}

#root,
body,
html {
    overscroll-behavior: none;
    height: 100%;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 50rem;
    margin-inline: auto;

    @media (max-width: 52rem) {
        margin-inline: 1rem;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
}

h2,
h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: .5em;
}

h1 {
    font-size: 4em;
    margin-block: 1.5em .5em;
    text-wrap: balance;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
}

.back {
    display: inline-flex;
    gap: .5em;
    place-items: center;

    svg {
        width: 2em;
    }
}

.items menu {
    display: flex;
}

@media (pointer: coarse) {
    .items>li menu {
        display: none;
    }
}

@media not (pointer: coarse) {
    .items>li:not(:hover) menu {
        display: none;
    }
}

fieldset {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

label {
    display: flex;
    gap: .5em;
}

::backdrop {
    display: none;
}

dialog {
    --bottom: calc(4em + env(safe-area-inset-bottom));
    inset: auto;
    bottom: calc(var(--bottom) * -1);
    left: 50%;
    translate: -50% 0%;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
    max-width: 50rem;
    width: 100%;
    color: black;
    padding: 4em 2em calc(var(--bottom) + 4em);
    background: white;
    border: 1px solid gray;
    height: 85vh;

    @media (max-width: 50rem) {
        border: none;
        border-top: 1px solid gray;
    }

    @media (max-width: 40rem) {
        height: 90vh;
        bottom: -2em;
        padding-top: 2.5em;
    }
}

input {
    padding: .25em;
}

input[type=number],
input[type=text],
input[type=search],
select,
button {
    border: 1px solid #444;
    border-radius: 0;
    outline: none;
    padding: .1em .5em;
}

form button {
    padding: .5em;
}

button,
select,
a {
    cursor: pointer;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}