@use "global.scss";
@use "variables.scss";
@use "typography.scss";

body {
    padding-block: 4em;
    background-color: var(--background);
    color: var(--color);
    transition: background-color .45s, color .45s;
    --background: white;
    --color: #222;

    @media (max-width: 52rem) {
        padding-block: 2em;
    }
}

body,
html {
    overscroll-behavior: none;
    min-height: 100%;
}

html {
    height: 100%;
}

.container {
    max-width: 50rem;
    margin-inline: auto;

    @media (max-width: 52rem) {
        margin-inline: 1rem;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
}

h2,
h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .5em;
    line-height: 1.2;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 4em;
    margin-block: 1em .5em;
    text-wrap: balance;
}

menu {
    visibility: hidden;
    gap: .5em;
    display: flex;
}

.items {
    margin-block: 2em;
}


@keyframes page {
    from {
        opacity: 0;
        translate: 0 1em 0;
    }

    to {
        opacity: 1;
        translate: 0 0 0;
    }
}

.page {
    animation: page .35s both;
}

.items>li {
    position: relative;

    &::after {
        content: "";
        height: 1px;
        background-color: var(--color);
        opacity: .25;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        right: 0;
    }
}

.items>li a {
    border: 1em solid transparent;
    margin: -1em;
}

@media (pointer: coarse) {
    .items>li menu {
        display: none;
    }
}

@media not (pointer: coarse) {
    .items>li:hover menu {
        visibility: visible;
    }
}

fieldset {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

label {
    display: flex;
    gap: .5em;
}

dialog::backdrop {
    pointer-events: none;
    cursor: pointer;
    transition: all .2s;
    background-color: rgba(black, .4);
    opacity: 0;
}

dialog {
    inset: auto;
    z-index: 100;
    bottom: -3em;
    left: 50%;
    translate: -50% 0%;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
    max-width: 50rem;
    width: 100%;
    color: black;
    padding: 4em 2em;
    background: white;
    border: 1px solid gray;
    height: 85vh;

    @media (max-width: 50rem) {
        border: none;
        border-top: 1px solid gray;
    }

    @media (max-width: 40rem) {
        height: 95vh;
        bottom: -2em;
        padding-top: 2.5em;
    }
}

input {
    padding: .25em;
}

input[type=number],
input[type=text],
input[type=search],
select,
form button {
    padding: .5em;
    border: 1px solid #444;
    border-radius: 0;
    outline: none;
}