* {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border-radius: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    list-style: none;
    -webkit-user-select: none !important;
    user-select: none;
    -webkit-touch-callout: none !important;
}

input:not([type]),
select,
button {
    appearance: none;
}

html,
body {
    background-color: var(--background-color);

    &.standalone {
        height: 100vh;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

::backdrop {
    display: none;
}